/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --skler-height: 3rem;
  --font-medium: 300;
}

/*===== Colores =====*/
:root {
  --first-color: lime;
  --white-color: #fafaff;
  --dark-color: #fff;
  --text-color: cyan;
  --black-color: #000;
  --light-black-color: rgba(0, 0, 0, 0.8);
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 6.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}
.fa-arrow-alt-circle-up {
  font-size: 50px;
  color: lime;
  text-shadow: 0px 0px 5px rgba(204, 184, 184, 0.1);
  position: relative;
  left: 900px;
  top: -20px;
}
.fa-arrow-alt-circle-up:hover {
  transition: all ease-in-out 0.5s;
  transform: translateY(5px);
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 10.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*===== z index =====*/
:root {
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
  font-display: swap;
}
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  /* background: #000 url(./Preloader.gif) no-repeat center; */
  background-size: cover;
  z-index: 1000;
}
.lightBackgroundHide {
  display: none;
  transition: 450ms;
}
.lightBackgroundShow {
  display: flex;
  transition: 450ms;
}
html {
  scroll-behavior: smooth;
  font-display: swap;
}
.bodyDarkBg {
  font-display: swap;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  line-height: 1.3;
  background-color: #000;
}
.bodyLightBg {
  background-color: none;
  font-display: swap;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  line-height: 1.3;
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section {
  padding: 3rem 0;
}
.section-title {
  text-transform: uppercase;
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0;
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: rgba(255, 255, 255, 0.2);
}
.l-headerActive {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
}
.nav__itemActive {
  color: #000 !important;
}
/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navActive {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #fff;
}
.DownloadCV {
  position: relative;
  font-size: var(--small-font-size);
  margin-right: var(--mb-2);
  margin-bottom: var(--mb-3);
  padding: 0.25rem 0.5rem;
  background: linear-gradient(black, #333);
  border-radius: 0.25rem;
  font-weight: 500;
  width: 115px;
  left: 100px;
  top: -100px;
  cursor: pointer;
}
#darkMode {
  font-size: var(--small-font-size);
  background: linear-gradient(black, #333);
  border-radius: 0.25rem;
  font-weight: 400;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  color: #fff;
  font-family: "Poppins", serif;
  border: none;
  outline: none;
}
#lightMode {
  font-size: var(--small-font-size);
  background: linear-gradient(white, rgb(233, 224, 224));
  border-radius: 0.25rem;
  font-weight: 400;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  color: #000;
  border: none;
  outline: none;
  font-family: "Poppins", serif;
}

.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: var(--dark-color);
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__logo {
  color: var(--white-color);
}
.nav__toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*===== HOME =====*/
.home {
  position: relative;

  overflow: hidden;
}
.home__container {
  height: calc(100vh - var(--header-height));
  row-gap: 5rem;
}
.home__title {
  align-self: flex-end;
  font-size: var(--big-font-size);
  color: var(--white-color);
  line-height: 0.8;
  text-transform: uppercase;
}
.home__title span {
  text-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
}
.home__scroll {
  align-self: flex-end;
  padding-bottom: var(--mb-4);
}
.home__scroll-link {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  color: var(--white-color);
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.home__container img {
  width: 40%;
  height: 90%;
}

/* ===== ABOUT =====*/
.about__container {
  justify-items: center;
  row-gap: 2rem;
  text-align: center;
}
.about__img {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  width: 120px;
  height: 120px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}
.about__img img {
  width: 100px;
}
.about__subtitle {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}
.about__text {
  margin-bottom: var(--mb-4);
  font-weight: 100;
}
.about__profession {
  display: block;
  margin-bottom: var(--mb-4);
}
.about__container p {
  font-size: 18px;
  line-height: 30px;
}
.about__social-icon {
  font-size: 1.4rem;
  font-weight: 100;
  margin: 0 var(--mb-1);
}
.about__social-icon:hover {
  color: var(--first-color);
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
}
.skills__subtitle {
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  letter-spacing: 0.5px;
}
.skills__subtitle > span {
  color: #fafaff;
}
.experienceCard {
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border-radius: 15px;
  border-left: 3px solid cyan;
  border-bottom: 4px solid cyan;
}
.skills__name {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-right: var(--mb-2);
  margin-bottom: var(--mb-3);
  padding: 0.25rem 0.5rem;
  background: linear-gradient(black, #333);
  border-radius: 0.25rem;
  font-weight: 500;
}
.skills__name:hover {
  background-color: var(--first-color);
  color: var(--white-color);
  cursor: pointer;
}
.skills__img img {
  border-radius: 0.5rem;
}

/* ===== PORTFOLIO =====*/
.portfolio {
  background-color: none;
}
.portfolio__container {
  justify-items: center;
  row-gap: 2rem;
}
.portfolio__img {
  position: relative;
  overflow: hidden;
}
.portfolio__img img {
  border-radius: 0.5rem;
}
.portfolio__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}
.portfolio__img:hover .portfolio__link {
  bottom: 0;
}
.portfolio__link-name {
  color: #000;
}

/* ===== CONTACT =====*/
.contact__container {
  row-gap: 2rem;
}
.contact__subtitle {
  font-size: var(--normal-font-size);
  color: var(--first-color);
}
.contact__text {
  display: inline-block;
  margin-bottom: var(--mb-2);
}
.contact__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}
.contact__input {
  width: 100%;
  padding: 0.8rem;
  outline: none;
  border: 1.5px solid var(--dark-color);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
}
.contact__button {
  display: block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 0.75rem 2.5rem;
  margin-left: auto;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
}

/* ===== FOOTER=====*/
.footer {
  background-color: rgba(0, 0, 0, 0.5);
}
.footer__container {
  row-gap: 2rem;
}
.footer__title {
  font-size: var(--normal-font-size);
  color: var(--white-color);
  margin-bottom: var(--mb-2);
}
.footer__data > ul > li {
  margin-top: 10px;
}
.footer__link {
  padding: 0.25rem 0;
  font-weight: 500;
}
.footer__link:hover {
  color: lime;
  transition: 0.5s;
}
.footer__social {
  font-size: 1.4rem;
  margin-right: var(--mb-1);
}
.footer__social:hover {
  color: var(--first-color);
}
